* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NAVBAR START*/
header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: space-between;
}


#logo {
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
}

#logo a {
    color: orange;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: orange;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

ul li a:hover {
    color: rgb(255, 204, 109)
}


#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: orange;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
    background-color: orange;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    /* background-color: rgb(255, 140, 0);*/
    border-radius: 13%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 810px) {
    header nav {
        display: none;
    }

    ul a {
        color: gray;
    }

    ul li a:hover {
        color: rgb(255, 255, 255)
    }

    #hamburger-icon {
        display: block;
    }
}

/*ENDING OF NAVABAR*/

/*body div part*/
/*font sizing*/
/*BODY PART*/
h1 {
    font-family: "Roboto Mono", monospace;
    color: #716f6f;
    font-size: 2em;
}

h2 {
    font-family: "Roboto Mono", monospace;
    color: gray;
    font-size: 1.5em;
}


.container {
    background-color: #f5eddd;
    height: 100vh;
}

.content {
    position: absolute;
    top: 40%;
    left: 36%;
    transform: translate(-40%, -40%);
    text-align: left;
}

.content h1 {
    position: relative;
    animation-name: slide;
    animation-duration: 2s;
    animation-direction: forwards;
    animation-play-state: ease-in;
}

@keyframes slide {
    from {
        transform: translateX(-400%);
    }

    to {
        transform: translateX(0);
    }

}

.content h2 {
    color: gray;
    background-color: orange;
    text-transform: lowercase;
    position: relative;
    animation-name: slide1;
    animation-duration: 3s;
    margin: 10px 0px;
    animation-direction: forwards;
    animation-play-state: ease-out;
}

@keyframes slide1 {
    from {
        transform: translateX(-500%);
    }

    to {
        transform: translateX(0);
    }
}

.content ul {
    padding-top: 15px;
    list-style: none;
    position: relative;
    animation-name: fade-in;
    animation-duration: 3.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
        list-style-type: none;
    }

    100% {
        opacity: 1;
    }
}

.content li {
    display: inline-flex;
}

.content a img {
    width: 72px;
    height: 72px;
}

/* ENDING OF home pg BODY*/

/*desktop sizing and styling*/
@media only screen and (min-device-width: 1024px) {
    .content h1 {
        font-size: 3.5em;
        display: block;
    }

    .content h2 {
        font-size: 2.2em;
    }

    .content ul {
        display: inline-block;
    }

    .content a img {
        width: 69px;
        height: 69px;
    }
}

/*ipad sizing and styling*/
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .content h1 {
        font-size: 2.5em;
        display: inline-flex;
    }

    .content h2 {
        font-size: 2em;
    }

    .content ul {
        display: inline-flex;
    }

    .content a img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-device-width: 768px) {
    .content h1 {
        font-size: 1.9em;
        display: inline-flex;
    }

    .content h2 {
        font-size: 1.5em;
    }

    .content ul {
        display: inline-flex;
    }

    .content a img {
        width: 39px;
        height: 39px;
    }
}

/* contact section start here */
.max-width {
    margin: 50px;
}

.contact .title::after {
    content: "get in touch";
}

.contact-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.contact .contact-content .text {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.contact .contact-content .column-left p {
    text-align: justify;
}

.contact .contact-content .row {
    display: flex;
    height: 69px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 17px;
}

.contact .contact-content .row i {
    font-size: 24px;
    color: orange;
}

.contact .contact-content .info .head {
    font-weight: bold;
    font-size: 17px;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .contact-content section {
    display: flex;
    vertical-align: middle;
    margin-top: 23px;
}

.contact section .icons {
    margin-left: 2.5em;
}

.contact .contact-content .column-right {
    margin-left: 80px;
}

.contact .contact-content form .fields {
    display: flex;
    vertical-align: middle;
}

.contact .contact-content form .fields .email {
    margin-left: 11px;
}

#name,
#email,
#subject {
    height: 40px;
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    height: 150px;
}

button {
    margin-top: 1.5em;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgb(193, 141, 44);
    box-shadow: 0px 15px 20px orange;
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

/* responsive for .contact-content */
@media (max-width: 814px) {
    .contact-content {
        flex-direction: column;
    }

    /* .contact .contact-content section {
        flex-direction: column;
    } */
}