* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NAVBAR START*/
header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: space-between;
}


#logo {
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
}

#logo a {
    color: orange;
}

ul {
    list-style: none;
    height: 100%;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: orange;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

ul li a:hover {
    color: rgb(255, 204, 109)
}


#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: orange;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
    background-color: orange;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    /* background-color: rgb(255, 140, 0);*/
    border-radius: 13%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 810px) {
    header nav {
        display: none;
    }

    ul a {
        color: gray;
    }

    ul li a:hover {
        color: rgb(255, 255, 255)
    }

    #hamburger-icon {
        display: block;
    }
}

/*ENDING OF NAVABAR*/

/*body div part*/
/*font sizing*/
/*BODY PART*/
h1 {
    font-family: "Roboto Mono", monospace;
    color: #716f6f;
    font-size: 2em;
    text-shadow: -.08em .05em rgba(255, 165, 0, 0.5);
}

h2 {
    font-family: "Roboto Mono", monospace;
    color: gray;
    font-size: 1.5em;
}


.container {
    background-color: #f5eddd;
    height: 100vh;
}

.content {
    position: absolute;
    top: 40%;
    left: 36%;
    transform: translate(-40%, -40%);
    text-align: left;
}

.content h1 {
    position: relative;
    animation-name: slide;
    animation-duration: 2s;
    animation-direction: forwards;
    animation-play-state: ease-in;
}

@keyframes slide {
    from {
        transform: translateX(-400%);
    }

    to {
        transform: translateX(0);
    }

}

.content h2 {
    color: gray;
    background-color: orange;
    text-transform: lowercase;
    position: relative;
    animation-name: slide1;
    animation-duration: 3s;
    margin: 10px 0px;
    animation-direction: forwards;
    animation-play-state: ease-out;
}

@keyframes slide1 {
    from {
        transform: translateX(-500%);
    }

    to {
        transform: translateX(0);
    }
}

.content ul {
    padding-top: 15px;
    list-style: none;
    position: relative;
    animation-name: fade-in;
    animation-duration: 3.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
        list-style-type: none;
    }

    100% {
        opacity: 1;
    }
}

.content li {
    display: inline-flex;
}

.content a img {
    width: 72px;
    height: 72px;
}

/* ENDING OF home pg BODY*/

/*desktop sizing and styling*/
@media only screen and (min-device-width: 1024px) {
    .content h1 {
        font-size: 3.5em;
        text-shadow: -.08em .05em rgba(255, 165, 0, 0.5);
        display: block;
        
    }

    .content h2 {
        font-size: 2.2em;
    }

    .content ul {
        display: inline-block;
    }

    .content a img {
        width: 69px;
        height: 69px;
    }
}

/*ipad sizing and styling*/
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .content h1 {
        font-size: 2.5em;
        display: inline-flex;
        text-shadow: -.08em .05em rgba(255, 165, 0, 0.5);
    }

    .content h2 {
        font-size: 2em;
    }

    .content ul {
        display: inline-flex;
    }

    .content a img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-device-width: 768px) {
    .content h1 {
        font-size: 1.9em;
        display: inline-flex;
        text-shadow: -.08em .05em rgba(255, 165, 0, 0.5);
    }

    .content h2 {
        font-size: 1.5em;
    }

    .content ul {
        display: inline-flex;
    }

    .content a img {
        width: 39px;
        height: 39px;
    }
}

/* ABOUT PAGE CSS */
section .about {
    margin: 40px;
    text-align: center;
}

section .about p {
    text-align: center;
}

section .about .info_icon {
    display: inline-flex;
    margin-top: 3em;

}

section .about .information {
    margin-left: 5em;
}

section .about .row {
    display: flex;
    height: 80px;
    align-items: center;
}

section .about .row i {
    font-size: 44px;
    color: orange;
}

section .about .information .info_info .head {
    font-weight: bold;
    font-size: 23px;
    text-align: start;
    margin-left: 28px;
}


section .about .information .info_info .sub-title {
    margin-left: 27px;
}



/* CONTACT PAGE CSSS */

section .text {
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 30px;
    color: rgb(255, 165, 0, 0.7);
    text-shadow: -.08em .05em rgb(128, 128, 128, 0.3);
}

section .contact {
    margin: auto;
    max-width: 570px;

}

section .contact form .fields {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#name,
#email,
#subject {
    height: 47px;
    padding: 23px;
    margin: 13px 0px;
    width: 96%;
    border-radius: 15px;
    box-shadow: 0 0 15px 4px rgba(128, 128, 128, 0.5);
    color: black;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(128, 128, 128, 0.5);
    height: 170px;
    color: black;
}

button {
    margin-top: 1.5em;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 165, 0);
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgb(193, 141, 44);
    box-shadow: 0px 15px 20px orange;
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

@media (max-width: 814px) {
    .icon {
        flex-direction: column;
    }
}